ai invoice 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -464,
        -208
      ],
      "id": "5fbc6f92-1ff2-4333-8b8a-17e6f85defca",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PzjmpKcqS9Gkt0ONUFeI__c8rrEPrRg3ih34wOMSa7c",
          "mode": "list",
          "cachedResultName": "Under",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PzjmpKcqS9Gkt0ONUFeI__c8rrEPrRg3ih34wOMSa7c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1918763156,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PzjmpKcqS9Gkt0ONUFeI__c8rrEPrRg3ih34wOMSa7c/edit#gid=1918763156"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -240,
        -224
      ],
      "id": "0e7599dc-2d49-497a-933a-64f09c79fb88",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vjI5a3n83bDQYOqe",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "47d8af84-fc58-4cf5-afc5-c142b2f0c2a5",
              "leftValue": "={{$json.Urgency}}",
              "rightValue": "urgent",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -64,
        -96
      ],
      "id": "38cc25e0-7b25-42e7-8612-9ce1a0252e0f",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (!items.length) {\n  return [{\n    json: {\n      invoice_text: \"There are no pending invoices today.\",\n      invoice_count: 0,\n      total_pending_amount: 0\n    }\n  }];\n}\n\nlet total = 0;\n\nconst lines = items.map((item, index) => {\n  const row = item.json;\n  const amount = Number(row.Amount || 0);\n  total += amount;\n\n  return `${index + 1}. Vendor: ${row.Vendor || \"N/A\"} | Invoice: ${row.Invoice || \"N/A\"} | Due: ${row.DueDate || \"N/A\"} | Amount: ${row.Currency || \"USD\"} ${amount} | Urgency: ${row.Urgency || \"normal\"}`;\n});\n\nreturn [{\n  json: {\n    invoice_text: `Pending invoices:\\n\\n${lines.join(\"\\n\")}\\n\\nTotal pending amount: ${total}`,\n    invoice_count: items.length,\n    total_pending_amount: total\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -224
      ],
      "id": "6af59433-65a0-4737-a696-6851b3170fa3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  model: \"llama-3.3-70b-versatile\",\n  temperature: 0.2,\n  messages: [\n    {\n      role: \"system\",\n      content: \"You are a finance assistant. Summarize pending invoices in a short professional email for the finance team. Mention total count, total amount, urgent invoices, and recommended next action. Return email body only. Do not include a subject line. Do not include the word Subject.\"\n    },\n    {\n      role: \"user\",\n      content: String($json.invoice_text || \"There are no pending invoices today.\")\n    }\n  ]\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        256,
        -96
      ],
      "id": "364e3d0e-af0b-478a-9447-ab6581f0a1fa",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "0DcW89UBjD4xU1q2",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jayprinz10@gmail.com",
        "subject": "=Pending Invoice Summary - {{ new Date().toLocaleDateString() }}",
        "emailType": "text",
        "message": "={{ $json.finance_summary }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        640,
        -96
      ],
      "id": "8e2de4cc-bba1-447d-be3b-d29e2caa18ec",
      "name": "Send a message",
      "webhookId": "29368ce2-eb2c-45fb-8291-3a2902993730",
      "credentials": {
        "gmailOAuth2": {
          "id": "mGRlfUTH4l1NC5jY",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nconst summary =\n  response.choices?.[0]?.message?.content ||\n  \"No summary returned.\";\n\nreturn [{\n  json: {\n    finance_summary: summary\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -208
      ],
      "id": "25c07308-c643-49c1-9917-fc805cae402e",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "789a0b3c-1320-4321-a085-820f9a0d36aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d361637f1d70339ec01cb1a27fd403eac27fb61b561b025cd2a653356b47936c"
  },
  "id": "jzSH3-hz6hYDAk3ecMYn9",
  "tags": []
}